/* LLG Bookings plugin css */

#llg-thank-you { display: none; }
#llg-spinner {  display: none; }

label { margin-left: 3px; }

.llg-form *:required {
  border-left: 1px solid red !important;
}

.llg-options-container-required {
  border-left: 1px solid red;
  margin: 15px 0 15px 0;
}

#wpfooter {
  position: relative !important;
}

.llg-missing-value {
  outline: 1px solid red;
}

.llg-form input[type="text"], textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
}

.llg-form input:hover, textarea:hover {
  background-color: #f8f8f8;
}

.llg-form label {
  font-weight: bold;
  display: block;
}

.llg-form-preview {
  padding: 10px;
  border: 1px dashed black;
}

.llg-hidden {
  display: none;
}
