#llg-thank-you { display: none; }
#llg-spinner {  display: none; }

label { margin-left: 3px; }

.llg-form *:required {
 border-left: 1px solid red !important;
}

.llg-options-container-required {
 border-left: 1px solid red;
}

#wpfooter {
  position: relative !important;
}

.llg-form .llg-missing-value {
  outline: 1px solid red;
}
