<div class="wrap">
  <h2>Add new {{org_name}} event</h2>
  <div class="form-wrap" style="width: 50%">
    <form class="llg-form" id="llg-new-event-form" method="post" action="?page=llg_booking_admin">
      <div class="form-field">
        <label for="new-name">Event name</label>
        <input type="text" id="new-name" name="name" placeholder="Event name" required/>
      </div>
      <div class="form-field">
        <label for="new-event_start_date">Event start date</label>
        <input type="text" id="new-event_start_date" name="event_start_date" value="" placeholder="dd/mm/yyyy" pattern="\d{2}\/\d{2}\/\d{4}" required/>
        <p><i>Please use the format dd/mm/yyyy</i></p>
      </div>
      <div class="form-field">
        <label for="new-event_end_date">Event end date</label>
        <input type="text" placeholder="dd/mm/yyyy" id="new-event_end_date" name="event_end_date" value="" pattern="\d{2}\/\d{2}\/\d{4}" required/>
        <p><i>Please use the format dd/mm/yyyy</i></p>
      </div>
      <div class="form-field">
        <label for="new-cost">Cost (enter 0 for free)</label>
        <input type="text" id="new-cost" name="cost" placeholder="e.g. 10" pattern="\d*\.*" required/>
      </div>
      <div class="form-field">
        <label for="new-booking_person_name">Bookings person name</label>
        <input type="text" placeholder="e.g. Bob" id="new-booking_person_name" name="booking_person_name" value="" required/>
      </div>
      <div class="form-field">
        <label for="new-booking_person_email">Bookings person email</label>
        <input type="text" id="new-booking_person_email" name="booking_person_email" placeholder="e.g. bob@bob.example.com" required />
        <p><i>This email address will be CC'd in the confirmation email after the form is submitted</i></p>
      </div>

      <div class="form-field">
        <label for="listed">Visibility</label>
        <label>
          <input type="radio" name="listed" value="1" checked="checked" />Listed
        </label>
        <label>
          <input type="radio" name="listed" value="0" />Unlisted
        </label>
        <p><i>Whether a link to this form is listed in the "Upcoming events" area(s)</i></p>
      </div>

      <div class="form-field">
        <label for="page-parent">Parent page<br /></label>
        <select id="parent-page" name="wp_parent_page" />
          <option value="">-</option>
          {{#pages}}
          <option value="{{ID}}">{{post_title}}</option>
          {{/pages}}
        </select>
        <p><i>If this new form is to be a subpage/submenu of an existing page</i></p>
      </div>

      <div class="form-field">
        <label for="select-form">Select a form template to use<br /></label>
        <select id="select-form" name="form_id" />
          <option value="">-</option>
          {{#forms}}
          <option value="{{id}}">{{name}}</option>
          {{/forms}}
        </select>
        <p><i>See form <a href="?page=llg_forms" target="_blank">previews</a> to view available form templates</i></p>
      </div>

      <div class="form-field">
        <label for="password">Bookings data password<br /><b>DO NOT LOSE THIS PASSWORD</b></label>
        <input type="text" id="password" name="password" required/>
        <p><i>The data will be encrypted with this password <b>there is NO recovery once data has been encrypted</b>.</i></p>
      </div>


      <input type="button" class="button button-primary" value="Add event" id="add-new-event" />
      <input type="hidden" name="llg_post_action" value="insert_event" />
      {{& csrf}}
    </form>
  </div>
</div>
