<h2>{{event.name}}</h2>
<p>Example form please create your one in the views dir</p>

<span class="thankyou">
  <p>Thanks for submitting the test form</p>
</span>

<span id="booking-area">
  <form class="llg-form" id="llg-event-form" method="POST">
    <label>Test
      <input type="text" name="test" required />
    </label>

      <label for="anit_spam">Anti-spam complete the following: The founder of Quakerism has the first name: George and surname:</label>
      <input type="text" name="anti_spam" id="anti_spam" placeholder="???" required>



    <input type="button" id="llg-send-form-btn" value="Send!"/>
    &nbsp;
  </form>
    <img src="{{img_url}}/spinner.gif" id="llg-spinner" alt="please wait..." />
</span>
