<!-- event-settings.mustache -->

<div class="wrap">
  <h2>Events <a href="?page=llg_new_event" class="add-new-h2">Add new</a></h2>

  <table class="wp-list-table widefat fixed striped events">
    <thead>
      <tr>
        <th class="manage-column column-primary">Title</th>
        <th class="manage-column">Bookings</th>
        <th class="manage-column">Booking person</th>
        <th class="manage-column">Event Date</th>
        <th class="manage-column">Status</th>
      </tr>
    </thead>
    <tbody>
    {{#events}}
      <tr>
        <td><a href="?page=llg_event_details&amp;event_id={{id}}" class="row-title">{{name}}</td>
        <td><a href="?page=llg_event_details&amp;event_id={{id}}#data" class="row-title">{{num_bookings}}</a></td>
        <td title="{{booking_person_email}}"><a href="?page=llg_event_details&amp;event_id={{id}}#details">{{booking_person_name}}</a></td>
        <td><a href="?page=llg_event_details&amp;event_id={{id}}#details">{{event_start_date}} - {{event_end_date}}</a></td>
        <td><a href="?page=llg_event_details&amp;event_id={{id}}#details">{{#enabled}}Open{{/enabled}}{{^enabled}}Closed{{/enabled}}</a></td>
      </tr>
    {{/events}}
        </tbody>
      </table>
    </div>
  </div>
<!-- / event-settings.mustache -->
