<div class="wrap">
  <h2 style="display: inline-block">Forms</h2>
  <form style="display: inline-block" method="POST">
    <input type="hidden" name="llg_post_action" value="new_form_template" />
    <input type="submit" value="Add new" class="add-new-h2" />
  </form>
  <div class="form-wrap">
    <form method="GET">
      <div class="form-field">
        <label for="select-form">Select a form to review<br /></label>
        <select id="select-form" name="form_id">
          <option value="" >-</option>
          {{#forms}}
          <option value="{{id}}" >{{name}}</option>
          {{/forms}}
        </select>
        <input type="hidden" name="page" value="llg_forms" />
        <input type="submit" value="Open" class="button button-secondary"/>
        <p>Please note styling will change to match current theme.</p>
      </div>
      {{& csrf}}
    </form>
  </div>

  {{#selected_form}}
  </p><b>{{form.name}}:</b></p>
  <p>Available tokens:
  <i>Tokens get replaced with the actual values specified in the event settings.</i>
   <pre><code> &#123;&#123;event.name}} ...</code></pre></p>

  <form action="" method="POST">
    <label for="form-name">Name</label><br />
    <input type="text" id="form-name" name="form_name" value="{{form.name}}" />

    <br />
    <label for="form-template">Template</label>
    <a href="#code">Edit</a> | <a href="#preview">Preview</a>
    <textarea id="form-template" name="form_template" style="width:100%; height: 60vh" >
      {{form.template}}
    </textarea>
    {{& csrf}}
    <input type="hidden" name="form_id" value="{{form.id}}" />
    <input type="hidden" name="llg_post_action" value="update_form_template" />
    <input type="submit" value="Save" class="button button-primary" />
  </form>


  {{/selected_form}}
</div>
