<script>
var lmOptions = {
  url: "/webservices/quaker/local-quaker-meetings.json",
  getValue: "lm",
  theme: "square",

  list: {
    onSelectItemEvent: function(){

      var am = jQuery("#local-meeting").getSelectedItemData().am;

      if (am){
        jQuery("#area-meeting").val(am);
      }
    },
    match: { enabled: true } },
};

var amOptions = {
  url: "/webservices/quaker/quaker-area-meetings.json",
  getValue: "am",
  theme: "square",

  list: {
    match: { enabled: true } },
};


jQuery(document).ready(function(){
  jQuery("#local-meeting").easyAutocomplete(lmOptions);
  jQuery("#area-meeting").easyAutocomplete(amOptions);
});

</script>

<style scoped>
.unbold {
  font-weight: normal;
}

input[type=checkbox], input[type=radio] {
  margin-right: 4px;
}
</style>

<div id="llg-thank-you">
  <h2>Thank you for your application</h2>
  <p><b>We will send you a confirmation email to let you know we've received it</b> if you do not receive an email within 2 hours please check your spam folder or <a href="/contact">Contact us</a></p>

  <img src="//fsse.org.uk/files/sunflower.jpg" class="aligncenter" alt="Sunflower"/>

  <h3>What happens next?</h3>
  <p>Keep an eye out for an email from our bookings person ({{event.booking_person_name}}) in response to your application.</p>
  <p>We hope to offer everyone who applies a place. When we have more applications than space, places are first offered to those in our <a href="//fsse.org.uk/fsse/catchment/" >catchment area</a> (basically the south east) and then on a first come first serve basis.</p>
  <p>Once you are offered a place and have accepted it we will send you information on payment, final event details, travel information and a medical update form.</p>

  <p>Please don't hesitate to contact <a href="/contact">{{event.booking_person_name}}</a> if you have any questions</p>

  <p><a href="?" title="Make another booking">Make another booking</a></p>

</div>


<div id="llg-booking-area">

  <h2>We look forward to receiving your application for {{event.name}}!</h2>

  <ul style="list-style: none">
    <li><strong>Date:</strong> {{event.event_start_date}} to {{event.event_end_date}}</li>
    <li><strong>Contact person:</strong> <a href="/contact">{{event.booking_person_name}}</a></li>
    <li><strong>Cost:</strong> £{{#event.cost}}{{event.cost}}{{/event.cost}}{{^event.cost}}Free{{/event.cost}}</li>
    <li><strong>More info:</strong> <a href="//fsse.org.uk/files/Senior-Conference_Info-sheet_2019.pdf" target="_blank">2019 event info pack</a></li>
  </ul>

  <form class="llg-form" id="llg-event-form" method="POST">

    <h2>Participant information</h2>

    <label>Full Name (and name known by)
      <input type="text" name="full_name" required/>
    </label>

    <label>Home Address
      <textarea name="address" required></textarea>
    </label>

    <label>Date of Birth <span class="unbold">format dd/mm/yyyy (must be 15 by 1st Sept and under 19)</span>
      <input type="text" placeholder="dd/mm/yyyy" name="dob" pattern="\d\d?/\d\d?\/\d{4}" required/>
    </label>

    <label >Gender
      <input type="text" name="gender" required/>
    </label>

    <label >Mobile number
      <input type="text" name="mobile"/>
    </label>

    <label >Email
      <input type="text" name="email" />
    </label>



    <label>Dietary Requirements
      <textarea name="diet" placeholder="e.g. Vegetarian, Vegan"></textarea>
    </label>

    <label title="Especially important if the participant takes prescription medication, has a medical condition or allergies">General practitioner (Doctor contact)
      <textarea name="GP" placeholder="Practice name and phone"></textarea>
    </label>

    <label >Health Information <span class="unbold">Please state any health issues and information we might need to know about, if the participant takes any medication and who will be responsible for administering this medication? (staff/participant)
      <textarea name="health"></textarea>
    </label>

    <label >Allergies
      <textarea name="allergies"></textarea>
    </label>

    <br />
    <label>Any Additional Information: <span class="unbold">It is essential to disclose to the organisers anything they need to know about the <strong>health or personal circumstances</strong> of the participant so that we can best support their needs.</span> <a href="#" class="llg-toggler" data-toggle-selector="#additional-info-extra">More info on additional details</a>
        <span class="llg-hidden unbold" id="additional-info-extra">
          <br />
        {{event.name}} is an event underpinned by the Quaker values of inclusivity and acceptance and, as such, we endeavour to accommodate a range of needs, both emotional and physical. We would ask that you disclose any information that you think we should know that will help us meet the participant's needs at the event. That could include information about additional emotional or learning needs or context about homelife that you think it would be beneficial for us to know.
          <br />
          <br />
          All information provided here will be confidential. We would not normally discuss any information given, with the participant. This information will be used to help us to be sensitive to any additional needs the participant may have and we would ask you to share information honestly.  Whilst our volunteers are trained annually in safeguarding principles and are equipped to deal with young people at an event such as {{event.name}}, if there is information that we have not been made aware prior to the event then this may result in us being unable to fully accommodate a participant at the event. In more serious instances could result in us asking a parent/guardian to collect the participant from the event.
          <br />
      </span>

      <textarea name="extra_support"></textarea>
    </label>

    <br />
    <p>Unless in exceptional circumstances we expect participants to be present for the whole event. Some participants may be receiving GCSE results at the event, where there is lots of support provided including a dedicated space, and other activities will be optional. <a href="/contact">Please contact us</a> if you might need to leave the site during the event for any reason.</p>

    <h3>Quaker Meeting</h3>

    <p><strong>Are you known at a Quaker Meeting in the UK?</strong> This information helps us gauge how familiar the participants are with Quakers and who they might already know at the event. When requested we can also help facilitate requesting financial assistance with your Area Meeting or Local Meeting.</p>

    <label for="local-meeting">Meeting name
      <input type="text" id="local-meeting" name="local_meeting"/>
    </label>

    <label for="area-meeting">Area meeting name
      <input type="text" name="area_meeting" id="area-meeting"/>
    </label>

    <h3>Financial</h3>

    <p><strong>Please indicate how you intend to pay the event fee (£{{event.cost}}).</strong> It is our policy that no-one should be prevented from attending the event due to financial reasons. In our experience most Local or Area Quaker Meetings are able to support financially. If they are not able to support please get in touch.</p>
    <div class="llg-options-container-required">
      <label><input type="checkbox" name="payment_method" value="self_funded">Self funded</label>
      <label><input type="checkbox" name="payment_method" value="AM_LM_funded">Area/Local Meeting Funds</label>
      <label><input type="checkbox" name="payment_method" value="contact_me_about_bursary_funding">Please contact me about a Bursary/Funding</label>
      <label><input type="checkbox" name="payment_method" value="to_be_confirmed">To be confirmed</label>
    </div>

    <label>Additional financial info
      <textarea name="financial_info" placeholder="e.g. Contact details for Area meeting treasurer"></textarea>
    </label>

    <br />
      <h2>Parent/Guardian information</h2>

      <label>Name(s)
        <input type="text" name="parent_names" required/>
      </label>

      <label>Address (if different from above)
        <textarea name="parent_address_if_different"></textarea>
      </label>

      <label>
        <input type="checkbox" name="correspond_by_post" value="yes" />Correspondence by post<span class="unbold">
          We prefer to use email to save expense and paper. If you need correspondence sent by post, tick here.</span>
      </label>


      <label>Home phone number
        <input type="text" name="parent_guardian_home_phone" required/>
      </label>

      <label>Mobile phone number
        <input type="text" name="parent_guardian_mobile_phone" />
      </label>

      <label>Parent/Guardian email contact<span class="unbold"> This is the email address that we will correspond with you on regarding this application.</span>
        <input type="text" name="primary_email" pattern=".*@.*" required/>
      </label>

      <label>Secondary Contact name <span class="unbold">This person must be fully available during the event ({{event.event_start_date}} to {{event.event_end_date}})</span>

        <input type="text" name="secondary_contact_name" required />
      </label>

      <label>Secondary Contact phone number
        <input type="text" name="secondary_contact_phone" required />
      </label>


      <h2>Consent</h2>


      <h3>First Aid</h3>
      <p>Consent for {{event.name}} First Aiders to give medicines</p>
      <label>
        <input type="checkbox" name="medicines" value="ibuprofen">Ibuprofen
      </label>
      <label>
        <input type="checkbox" name="medicines" value="paracetamol">Paracetamol
      </label>
      <label>
        <input type="checkbox" name="medicines" value="lemsip">Lemsip
      </label>


      <h3>Photos/Multimedia</h3>
      <div class="llg-options-container-required">

        <label><input type="radio" name="multimedia_consent" value="no">No consent for <i>any</i> photos/media</label>

        <label><input type="radio" name="multimedia_consent" value="all_uses" />Yes consent for photos/media for general publicity use <i>and</i> within the FSSE community

        </label>

        <label><input type="radio" name="multimedia_consent" value="only_within_fsse" />Yes consent for photos/media <i>only</i> within FSSE community
        </label>

      </div>
      <p>
      Notes on terms<br />
      <strong>General Publicity:</strong> We'd be grateful if the participant can be included in photographs/media that may be used for our own future publicity materials and for any externally produced publicity (For example: <a href="http://thefriend.org" target="_blank">The Friend magazine</a>).
      <br />

      <strong><abbr title="Friends Southern Summer Events">FSSE</abbr> Community:</strong> FSSE volunteers, parents and participants (For example: Photos in a FSSE {{event.name}} photo album that parents can view).
      </p>



      <h3>Other consent</h3>

      <label><input type="checkbox" name="future_contact_consent" value="yes" /> Yes to using contact details to tell you about our future events?
      </label>



      <div class="llg-options-container-required">
        <label for="consent"><input type="checkbox" id="consent" value="yes" name="event_consent" required/> I give permission for my child / ward to take part in this event and the participant agrees to adhere to the <a href="//fsse.org.uk/sc/boundaries/">event boundaries</a>.</label>
      </div>

      <h2>Questionnaire</h2>

      <label>Please could you tell us how you first heard about the event
        <textarea name="how_heard_about_event" placeholder="e.g. Friend from Meeting, online search, family member"></textarea>
      </label>

      <br />
      <label>
        <input type="checkbox" name="first_time" value="yes">First time at a <abbr title="Friends Southern Summer Events">FSSE</abbr> event?
      </label>



      <h2>And finally</h2>

      <p>By completing the application form, you agree for us to securely store the information you have provided to help us plan for the event. We will only retain your personal information for as long as is necessary to fulfil the purposes we collected it for, including for the purposes of satisfying any legal, accounting or reporting requirements.</p>
      <p>You can request a copy of your information which we hold or ask for any information we have that concerns you to be deleted. Our Nominated Officer for data protection is the Clerk of FSSE, who can be contacted on info@fsse.org.</p>
      <p>For more information on how we store and process your data, please see our <a href="//fsse.org.uk/files/FSSE-Data-Protection-and-Security-Policy-Data-protection-statement.pdf" target="_blank">FSSE Data Protection and Security Policy Data Statement</a>. </p>


      <label for="anit_spam">Anti-spam question please complete the following<span class="unbold"> <a href="https://en.wikipedia.org/wiki/George_Fox" title="George Fox" target="_blank">The founder of Quakerism</a> has the first name George and surname?:</span></label>
      <input type="text" id="anit_spam" name="anti_spam" placeholder="???" required>
      <input type="button" id="llg-send-form-btn" value="Send!"/>
      &nbsp;
      <img src="{{img_url}}/spinner.gif" id="llg-spinner" alt="please wait..." />
  </form>
</div>
