<script>
var lmOptions = {
  url: "/webservices/quaker/local-quaker-meetings.json",
  getValue: "lm",
  theme: "square",

  list: {
    onSelectItemEvent: function(){

      var am = jQuery("#local-meeting").getSelectedItemData().am;

      if (am){
        jQuery("#area-meeting").val(am);
      }
    },
    match: { enabled: true } },
};

var amOptions = {
  url: "/webservices/quaker/quaker-area-meetings.json",
  getValue: "am",
  theme: "square",

  list: {
    match: { enabled: true } },
};


jQuery(document).ready(function(){
  jQuery("#local-meeting").easyAutocomplete(lmOptions);
  jQuery("#area-meeting").easyAutocomplete(amOptions);
});

</script>

<style scoped>
.unbold {
  font-weight: normal;
}
</style>

<h2>Application for {{event.name}}</h2>
<span id="llg-thank-you"> 
  <h3>Thank you for your application</h3>
  <p><b>We will send you a confirmation email to let you know we've received it</b> if you do not receive an email within 2 hours please check your spam folder or <a href="/contact">Contact us</a></p>

  <img src="//fsse.org.uk/files/sunflower.jpg" class="aligncenter" alt="Sunflower"/>

  <h3>What happens next?</h3>
  <p>Keep an eye out for an email from our bookings person ({{event.booking_person_name}}) in response to your application.</p>
  <p>We hope to offer everyone who applies a place. When we have more applications than space, places are first offered to those in our <a href="//fsse.org.uk/fsse/catchment/" >catchment area</a> (basically the south east) and then on a first come first serve basis.</p>
  <p>Once you are offered a place and have accepted it we will send you information on payment, final details and a medical update form.</p>

  <p>Please don't hesitate to contact {{event.booking_person_name}} if you have any questions</p>

  <p><a href="?" title="Make another booking">Make another booking</a></p>

</span>


<span id="llg-booking-area">
  <ul>
    <li>Date {{event.event_start_date}} to {{event.event_end_date}}</li>
    <li>Contact person: {{event.booking_person_name}}</li>
    <li>Cost: £{{#event.cost}}{{event.cost}}{{/event.cost}}{{^event.cost}}Free{{/event.cost}} (£50 discount available if it is your first time!)</li>
    <li>More info: <a href="//fsse.org.uk/files/JG-info-pack-2018.pdf">2018 event info pack</a></li>
  </ul>

  <form class="llg-form" id="llg-event-form" method="POST">

    <h3>Participant information</h3>

    <label>Full name of participant
      <input type="text" name="full_name" required/>
    </label>

    <label>Home address
      <textarea name="address" required></textarea>
    </label>

    <label>Date of birth (must be 11 by 1st Sept and under 15)
      <input type="text" placeholder="dd/mm/yyyy" name="dob" required/>
    </label>

    <label for="local_meeting">Local meeting
      <input type="text" id="local-meeting" name="local_meeting" required/>
    </label>

    <label for="area_meeting">Area meeting
      <input type="text" name="area_meeting" id="area-meeting" required/>
    </label>

    <label >Gender
      <input type="text" name="gender" required/>
    </label>

      <h3>Parent/Guardian information</h3>

      <label>Name(s)
        <input type="text" name="parent_names" required/>
      </label>

      <label>Address (if different from above)
        <textarea name="parent_address_if_different"></textarea>
      </label>

      <label>Home phone number
        <input type="text" name="parent_guardian_home_phone" required/>
      </label>

      <label>Mobile phone number
        <input type="text" name="parent_guardian_mobile_phone" />
      </label>

      <label>Parent/Guardian email contact<span class="unbold"> This is the email address that we will correspond with you on regarding this application.</span>
        <input type="text" name="primary_email" required/>
      </label>

      <label>
        <input type="checkbox" name="correspond_by_post" value="yes" />
        We prefer to use email to save expense and paper. If you need correspondence sent by post, tick here.
      </label>

      <h3>Special information - we aim to be fully inclusive</h3>

      <label>Diet: <span class="unbold">(Any special dietary needs)</span>
        <textarea name="dietary_info"></textarea>
      </label>

      <label>Financial: <span class="unbold">(No-one will should be prevented from attending by financial difficulties. Most AMs and LMs will help with payment, but if there are problems, FSSE can provide bursaries. Please write here if you need FSSE to help with payment).</span>
        <textarea name="financial_info"></textarea>
      </label>

      <label>Extra support: <span class="unbold">It is essential to disclose to the organisers anything they need to know about the health or personal circumstances of the participant so that we can provide any necessary support</span>
        <textarea name="extra_support"></textarea>
      </label>

      <br />

      <label><input type="checkbox" name="future_contact_consent" value="yes" /> Can we use contact details to tell you about future events?
      </label>


      <label><input type="checkbox" name="photo_consent" value="yes" /> We'd be grateful if the participant can be included in photographs that may be used for future publicity. If that's OK please tick here.
      </label>

      <div class="llg-options-container-required">
        <label for="consent"><input type="checkbox" id="consent" value="yes" name="event_consent" required/> I give permission for my child / ward to take part in this event. The participant agrees to adhere to the <a href="//fsse.org.uk/jg/boundaries/">event boundaries</a>.</label>
      </div>       

      <label for="anit_spam">Anti-spam please complete the following:<span class="unbold"> The founder of Quakerism has the first name: George and surname:</span></label>
      <input type="text" name="anti_spam" placeholder="???" required>

      <input type="button" id="llg-send-form-btn" value="Send!"/>
      &nbsp;
      <img src="{{img_url}}/spinner.gif" id="llg-spinner" alt="please wait..." />
  </form>
</span>
