<h2>Event {{event.name}}</h2>

<span id="llg-thank-you">
  <p><b>Thank you for your booking, we will send you a confirmation email</b> if you do not receive confirmation within 2 hours please check your spam folder or <a href="/contact">Contact us</a></p>
  <p><a href="#" onClick="location.reload(true);">Make another booking</a></p>
</span>

<ul>
  <li>Booking for: <b>{{event.name}}</b></li>
  <li>Date {{event.event_start_date}} to {{event.event_end_date}}</li>
  <li>Contact person: {{event.booking_person_name}}</li>
  <li>Cost: £{{#event.cost}}{{event.cost}}{{/event.cost}}{{^event.cost}}Free{{/event.cost}}</li>
</ul>

<span id="llg-booking-area">

  <p>Additional details of the event will have been sent out by email, please <a href="/contact/">contact us</a> if you would like to receive them.
  Please fill in the form below to book onto the event:</p>

  <br />

<script>
var options = {
  url: "/webservices/quaker/local-quaker-meetings.json",
  getValue: "lm",
  list: {
    match: {
      enabled: true
    },
    maxNumberOfElements: 8
  },
};

jQuery(document).ready(function(){
  jQuery("#local-meeting").easyAutocomplete(options);
});

</script>

<style scoped>
textarea {
  height: initial !important;
  margin-bottom: 15px !important;
}

  .easy-autocomplete-container ul {
    margin-left: initial !important;
  }

  .easy-autocomplete-container li {
    margin-bottom: initial !important;
  }
</style>

  <form class="llg-form" id="llg-event-form" method="POST">

    <h3>Participant information</h3>
    <label>Full name (&amp; name known by if applicable)
      <input type="text" name="full_name" required />
    </label>

    <label>Age
      <input type="text" id="age" name="age" required />
    </label>

    <label>Email
      <input type="text" name="participant_email" />
    </label>

    <label for="local_meeting">Local meeting
      <img alt="additional info icon" src="{{img_url}}/i.png" title="If you're not associated with a Local Meeting please leave blank" />
      <input type="text" name="local_meeting" id="local-meeting" />
    </label>

   
    <h3>Parent/Guardian contact information</h3>

    <label>Preferred email contact
      <input type="text" name="primary_email" required/>
    </label>

    <p>Primary contact:</p>

    <label>1. Name
      <input type="text" name="parent_guardian_name1" required/>
    </label>

    <label>1. Phone no.
      <input type="text" name="parent_guardian_phone1" required/>
    </label>

    <h3>Data consent</h3>

    <label>
      <input type="checkbox" name="use_contact_dets" value="yes">Can we use contact details to tell you about future events?
    </label>

    <h3>Consent</h3>

    <label for="consent">I consider my child / ward to be medically &amp; psychologically fit to participate in this London link group event and I give permission for them to take part in this activity. The participant agrees to adhere to the <a href="//londonlinkgroup.org.uk/vtm/boundaries/">Virtual Teenage Meeting boundaries</a>.
    </label>

    <div class="llg-options-container-required">
      <label for="consent">
        <input type="checkbox" id="consent" value="yes" name="consent" required/>I confirm
      </label>
    </div>

    <label for="anit_spam" title="Hint: George ???">Anti-spam question: The last name of the founder of Quakerism is?:
      <input type="text" title="Hint: George ???" name="anti_spam" id="anti_spam" placeholder="???" required>
    </label>

    <input type="button" id="llg-send-form-btn" value="Send!"/>
    &nbsp;
    <img src="{{img_url}}/spinner.gif" id="llg-spinner" alt="please wait..." />

  </form>
</span>
